:root{
  --rosa: #ff0057;
  --amarelo: #e4ad04;
  --roxo: #711f8e;
  --roxo2: #2b0848;
  --roxoClaro: hsl(284, 56%, 47%);
  --verde: #00b2a1;
  --verdeForte: #009879;
  --verdeForte2: #0c8f82;
  --preto: #212529;
  --qatar: #640619 ;
  --qatarClaro: #7a042c ;
  --qatarEscuro: #2b070e ;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.material-symbols-rounded{
    font-size: 6.5vh ;
    margin-top: 2px;
}

#logo-head{
  display: flex;
  flex-direction: row ;
  justify-content: start;
  margin-left: 2px;
  max-height: 8vh;
  height: 6.5vh;
  transition: all .5s linear;
}

#logo-head:hover{
  transform: rotate(1.1deg);
  transition: all .5s linear;
  scale: 1.1;
}


.containerR{
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    margin: 0px 50px !important;
    font-size: 3vh;
    backdrop-filter: blur(5px);
}

#nav-principal{
  /* height: 3.5em; */
  height: 9.3vh;
  background-color: #711f8e;
  background-image: linear-gradient(to bottom right, var(--roxo2), var(--roxo));
  border-bottom: solid 2px var(--roxoClaro);
  position:fixed;
  box-shadow: 5px 5px 5px (0, 0, 0, 0.411);
  backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  z-index: 1020;
}


#start{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex: 1;
}

/* .head-bottom{
    max-width: 140vh;
    min-width: 80vh;
} */

#end{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0px;
}

#irVoltar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#botao{
    background-color: rgba(180, 180, 180, 0);
    border: none;
  }
  
#darkMode{
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-left: 46px;
}

#ir{
    margin-left: 2.5vh;
}
#voltar{
    margin-right: 2.5vh;
}

#fundo{
  margin-left: 50px;
}
/* DP MENU */

#btn-head{
  margin: 20px;
}
.dropdown-menu{
  display: none;
  transition: all .5s linear;
}
  
.dropdown-menu:hover{
  display: block;
}

.material-symbols-outlined .md-48{
font-size: 48px; 
}
  
  
.dp-menu ul{
    list-style-type: none;
    padding: 10px;
    text-align: left;
    margin: auto;
    /* padding-left: 50px; */
}


.dp-menu ul li {
  display: inline-block;
  font-size: 3vh;
}


/* .dp-menu li{
  padding: 0px 10px 0px 10px;
}  */

.dp-menu-hover:nth-child(1){
  margin-left: 20px;
}

.dp-menu ul li a:hover{
    color: #a88008;
    transition: all .5s linear;
}

.dp-menu{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dp-menu ul ul{
    display: none;
  margin-left: 0px;

}

#pag1{
  margin-left: 120px;
  margin-right: 35px;
  align-items: center;
  min-width: 20px;
}

#pag2{
  margin-left: 35px;
}

.dp-menu ul li:hover ul{
  display:grid;
  position: absolute;
  font-size: 20px !important;
  background-color: rgba(107, 0, 179, 0.6);
  background-image: linear-gradient( to top right, rgba(107, 0, 179, 0.26), rgba(44, 1, 73, 0.6)) ;
  /* filter: blur(2px); */
  /* -webkit-filter: blur(8px); */
  
  backdrop-filter: blur(5px);
  border: 2px solid blanchedalmond;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 10%;
  min-width: 155px;
}

.b-bttm-none{
  border-bottom: none;
}

.dp-menu ul li:hover ul li{
    margin-bottom: 6px;
}

.dp-menu li{
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: none;
}

.dp-menu-hover li:hover{
  border-bottom: 2px solid var(--amarelo);
  border-radius: 4px;
  transition: none;
}

/* .primary-nav__sub-menu {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  width: 100%;
  min-width: 190px;
  padding-bottom: 5px;
  border: 2px solid var(--base-color-secondary);
  background-color: rgba(0,0,0,0.6);
  border-top: none;
  z-index: 0;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease, visibility 0.25s ease;
  transition: opacity 0.25s ease, visibility 0.25s ease;
}
.primary-nav__sub-menu:hover{
  display: block;
} */


  /*LINKS*/
a:link {
  color:whitesmoke;
}

a{
  color:var(--amarelo);
}
a:hover {
  /*color: #c53f5c;*/
  color: var(--amarelo) /*rgb(180, 180, 180)*/;
  transition: all .5s linear;
  }
li>a:hover{
  color:var(--amarelo);
  transition: all .5s linear;
}

li>a:active{
  color:var(--rosa);
  transition: all .5s linear;
}
  
a:visited {
  /*color: #991632;*/
  color:whitesmoke;
}

a:active {
  color: 
  var(--rosa);
  transition: all .5s linear;
} 
a:link {
  color:whitesmoke;
}
a:link{
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.dp-menu ul li a{
  color: white;
}

.dp-menu ul li a:hover {
  color: var(--amarelo);
  transition: all .5s linear;
}

.dp-menu ul li a:active{
  color: var(--rosa);
  transition: all .5s linear;
}
  
.material-symbols-rounded{
  color:whitesmoke;
}

.material-symbols-rounded:hover{
  color:var(--amarelo);
  transition: all .5s linear;
}

.bi-brightness-high{
  color: whitesmoke;
  height: 20px;
}

.bi-brightness-high:hover{
  color:var(--amarelo);
  scale: 1.1;
  transition: all .5s linear;
}
/*  */
#ir>a:hover{
  color: var(--amarelo);
  scale: 1.1;
  transition: all .5s linear;
}

#ir>a:active{
  color: var(--rosa);
  scale: 1.1;
  transition: all .5s linear;
}

#voltar>a:hover{
  color: var(--amarelo);
  scale: 1.1;
  transition: all .5s linear;
}

#voltar>a:active{
  color: var(--rosa);
  scale: 1.1;
  transition: all .5s linear;
}

.material-symbols-rounded:hover{
  scale: 1.1;
}

#btn-head:hover{
  scale: 1.1;
  transition: all .5s linear;
}

.dp-menu-hover:hover{
  scale: 1.2;
}

.material-symbols-rounded:active {
  color: var(--rosa);
} 

.teste{
  margin-left: 0px;
  padding-left: 0px;
  width:20px;

}

/* div{
  border: solid 2px red;
} */

.material-symbols-outlined:hover{
  color: var(--rosa);
}

.material-symbols-outlined:active{
  color: var(--verde);
}


#icn{
  font-size: 35px !important;
  margin-bottom: 2px;
  transition: all .5s linear;
}