body{
    background-color: #5e0f25;
    background-image: url(imgs/Background.svg);
    background-size:contain;
    text-decoration-line: none;
    background-size: cover;
    text-align: center;
    color: blanchedalmond;
}

table{
    margin: auto;
    width: 40%;
}


.nome-grupo{
    background-color: #00b2a1;
    border-left: 10px;
    margin-left: 550px;
    margin-right: 550px;
    border-top-left-radius: 30px ;
    border-bottom-right-radius: 30px ;
}


