body{
/*color: rgb(58, 4, 17);*/
/*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
text-decoration-line: none;
text-align: center;
background-image: url("Imgs/Background.png");
color: blanchedalmond;
}

