*{
    background-image: url("Imgs/Background.png");
    color: blanchedalmond
    text-align: center;
}
.grupos{
    margin-left: 50px;
}
h1{
color: blanchedalmond;
}
p{
    color: blanchedalmond;
}
i{
    color: blanchedalmond;
}